---
- name: Install Nginx
  become: yes
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Copy Nginx config
  become: yes
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/default
  notify: Restart nginx

- name: Enable and start Nginx
  become: yes
  ansible.builtin.systemd:
    name: nginx
    enabled: yes
    state: started

