---
- name: Ensure node_exporter user exists
  ansible.builtin.user:
    name: node_exporter
    shell: /bin/false
    system: yes
    create_home: no

- name: Download node_exporter
  ansible.builtin.get_url:
    url: "https://github.com/prometheus/node_exporter/releases/download/v1.6.1/node_exporter-1.6.1.linux-amd64.tar.gz"
    dest: /tmp/node_exporter.tar.gz
    mode: "0644"

- name: Extract node_exporter
  ansible.builtin.unarchive:
    src: /tmp/node_exporter.tar.gz
    dest: /tmp/
    remote_src: yes
    creates: /tmp/node_exporter-1.6.1.linux-amd64

- name: Move node_exporter binary to /usr/local/bin/
  ansible.builtin.copy:
    src: "/tmp/node_exporter-1.6.1.linux-amd64/node_exporter"
    dest: "/usr/local/bin/node_exporter"
    owner: root
    group: root
    mode: "0755"
    remote_src: yes

- name: Create systemd service for node_exporter
  ansible.builtin.copy:
    dest: /etc/systemd/system/node_exporter.service
    content: |
      [Unit]
      Description=Prometheus Node Exporter
      After=network.target

      [Service]
      User=node_exporter
      Group=node_exporter
      ExecStart=/usr/local/bin/node_exporter

      [Install]
      WantedBy=multi-user.target
    owner: root
    group: root
    mode: "0644"

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes

- name: Enable and start node_exporter
  ansible.builtin.systemd:
    name: node_exporter
    enabled: yes
    state: started


