global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
{% for host in groups['all'] if 'node_exporter' in hostvars[host]['group_names'] or 'app_servers' in hostvars[host]['group_names'] %}
      - targets: ['{{ hostvars[host].internal_ip }}:9100']
        labels:
          instance: '{{ hostvars[host].internal_ip }}:9100'
          env: '{{ "prod" if "prod" in host else "stage" }}'
{% endfor %}

  - job_name: 'go_app'
    static_configs:
{% for host in groups['app_servers'] %}
      - targets: ['{{ hostvars[host].internal_ip }}:80']
        labels:
          instance: '{{ hostvars[host].internal_ip }}:80'
          env: '{{ "prod" if "prod" in host else "stage" }}'
{% endfor %}

