[server]
protocol = http
http_addr = 0.0.0.0
http_port = 3000
domain = {{ grafana_domain | default(inventory_hostname) }}
enforce_domain = false
root_url = http://{{ grafana_domain | default(inventory_hostname) }}
serve_from_sub_path = false

[security]
cookie_secure = false
allow_embedding = true

[users]
default_theme = light
allow_sign_up = false

[auth.anonymous]
enabled = false

[log]
mode = console
level = info

