---
- name: Deploy Prometheus stack
  hosts: prometheus
  become: yes
  vars:
    prometheus_config_template: prometheus.yml.j2
  vars_files:
    - ../inventory/terraform.yml
  tags:
    - prometheus
    - monitoring
  roles:
    - node_exporter
    - prometheus
    - nginx_reverse_proxy

- name: Deploy Grafana stack
  hosts: grafana
  become: yes
  vars_files:
    - ../inventory/terraform.yml
  tags:
    - grafana
    - monitoring
  roles:
    - grafana
    - nginx_reverse_proxy

- name: Configure Node Exporter on app servers
  hosts: app_servers
  become: yes
  vars_files:
    - ../inventory/terraform.yml
  tags:
    - node_exporter
    - monitoring
  roles:
    - node_exporter

